<%- include("partials/header.ejs") %>

<div class="box" id="heading">
    <h1>
      <%= title %>
    </h1>
  </div>
<body>
  <div class="box">

      <%  if(locals.items){ %>
          <% items.forEach(function(ele){ %>
            <form action="/delete" method="post">
            <div class="item">
                <input type="checkbox" name="checkbox" value="<%= ele._id %>" onChange="this.form.submit()">
                <p><%= ele.name %></p>
            </div>
            <input type="hidden" name="listName" value="<%= title %>"></input>
            </form>
          <%});%>

      <%  } else{ %>
          <p></p>
      <%  } %>


    <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off" fdprocessedid="9li5l">
        <button type="submit" name="list" value="<%= title %>" july="" 22="" fdprocessedid="7g0o5">+</button>
    </form>
  </div>

</body>
<%- include("partials/footer.ejs") %>
